/* DetailsCard.css */

.details-card {
  padding: 0; /* Remove all padding */
  margin: 0; /* Optionally remove margin if needed */
}

.details-item {
  margin-bottom: 8px;
}

.details-item strong {
  font-weight: bold;
}
.ant-table .ant-table-tbody .anticon-close {
  font-size: 12px !important;
  padding: 0 4px;
}
.ant-table-wrapper::-webkit-scrollbar {
  width: 8px;   /* Adjust width of vertical scrollbar */
  height: 8px;  /* Adjust height of horizontal scrollbar */
}

.ant-table-wrapper::-webkit-scrollbar-thumb {
  background-color: #1890ff; /* Set scrollbar color */
  border-radius: 4px;  /* Make the scrollbar thumb rounded */
}

.ant-table-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;  /* Set scrollbar track color */
}

.ant-table-wrapper::-webkit-scrollbar-corner {
  background: #f1f1f1;  /* Set the bottom right corner color */
}